html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    color: white;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
} 


.playlist{
    width: 100%;
    height: 90%;
    background: rgb(48, 48, 48);
}

.table-header {
    width:  90%;
    height: 10%;
    display: flex;
    align-items: center;
}

.song-nr {
    width: 10%;
}

.song-cover {
    width: 10%;
}

.song-title{
    width: 25%;
}

.song-album {
    width: 30%;
}

.song-duration {
    width: 20%;
}

.songs {
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.melody {
    display: flex;
    align-items: center;
    width: 100%;
}

.melody > .song-cover{
    height: 50px;
    width: 50px;
    margin-inline: auto;
}

.bottombar {
    width: 100%;
    height: 10%;
    background: rgb(32, 52, 107);
}